@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

html,
body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  min-height: 100vh;
  transition: background-color 0.2s ease, color 0.2s ease;
}